version: '3.8'

services:
  discovery-service:
    build:
      context: .
      dockerfile: discovery-service/Dockerfile
    container_name: discovery-service
    ports:
      - "8761:8761"
    networks:
      - bank-network

  config-service:
    build:
      context: .
      dockerfile: config-service/Dockerfile
    container_name: config-service
    ports:
      - "8888:8888"
    depends_on:
      - discovery-service
    networks:
      - bank-network

  gateway-service:
    build:
      context: .
      dockerfile: gateway-service/Dockerfile
    container_name: gateway-service
    ports:
      - "8080:8080"
    depends_on:
      - discovery-service
    networks:
      - bank-network

  beneficiaire-service:
    build:
      context: .
      dockerfile: bénéficiaire-service/Dockerfile
    container_name: beneficiaire-service
    ports:
      - "8081:8081"
    depends_on:
      - discovery-service
    networks:
      - bank-network

  virement-service:
    build:
      context: .
      dockerfile: virement-service/Dockerfile
    container_name: virement-service
    ports:
      - "8082:8082"
    depends_on:
      - discovery-service
      - beneficiaire-service
    networks:
      - bank-network

  chatbot-service:
    build:
      context: .
      dockerfile: chatbot-service/Dockerfile
    container_name: chatbot-service
    ports:
      - "8083:8083"
    depends_on:
      - discovery-service
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    networks:
      - bank-network

networks:
  bank-network:
    driver: bridge

