server:
  port: 8008

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns:
              - "http://localhost:4200"
              - "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
              - PATCH
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600
      routes:
        - id: beneficiaire-service
          uri: lb://beneficiaire-service
          predicates:
            - Path=/api/beneficiaires/**
          filters:
            - StripPrefix=1
        - id: virement-service
          uri: lb://virement-service
          predicates:
            - Path=/api/virements/**
          filters:
            - StripPrefix=1
        - id: chatbot-service
          uri: lb://chatbot-service
          predicates:
            - Path=/api/chatbot/**
          filters:
            - StripPrefix=1
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway

